Repository theogravity/fastify-starter-turbo-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint and format files, check and format package.json files, verify typescript types, update lockfiles

lefthook.yml:

pre-commit:
  commands:
    "lint and format files":
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm run biome:check {staged_files} && pnpm run biome:format {staged_files} && pnpm run biome:lint {staged_files}
      stage_fixed: true
      tags:
        - lint
        - staged-lint
      exclude:
        - "*.gen.ts"
    "check and format package.json files":
      glob: "**/package.json"
      run: pnpm run syncpack:format  && pnpm run syncpack:lint
      stage_fixed: true
      tags:
        - package-lint
    "verify typescript types":
      glob: "*.{ts,mjs,d.cts,d.mts,tsx}"
      run: pnpm run verify-types
      tags:
        - verify-types
    "update lockfiles":
      glob: "**/package.json"
      run: pnpm install
      stage_fixed: true

chore: package updates
  apps/backend/package.json
  package.json
  packages/backend-client/openapi-ts.config.ts
  packages/backend-client/package.json
  packages/backend-client/src/client.gen.ts
  packages/backend-client/src/sdk.gen.ts
  packages/backend-client/src/types.gen.ts
  packages/backend-errors/package.json
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

chore: package updates
  .npmrc
  CHANGELOG.md
  apps/backend/package.json
  apps/backend/src/utils/logger.ts
  package.json
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

chore: update packages
  apps/backend/package.json
  apps/backend/src/api/users/create-email-user.route.ts
  apps/backend/src/types.ts
  apps/backend/src/utils/logger.ts
  apps/backend/tsconfig.json
  apps/backend/turbo/generators/templates/api-route/operation.hbs
  lefthook.yml
  package.json
  packages/backend-client/package.json
  packages/backend-errors/package.json
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

feat: service generation
  apps/backend/src/api-lib/context.ts
  apps/backend/turbo/generators/actions/service.generator.ts
  apps/backend/turbo/generators/config.ts
  apps/backend/turbo/generators/templates/service/service.hbs
Due: lint and format files, verify typescript types

refactor: replace pino with loglayer simple-pretty-terminal
  apps/backend/package.json
  apps/backend/src/utils/logger.ts
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

refactor: update test-server to use loglayer for error logging
  apps/backend/src/test-utils/test-server.ts
Due: lint and format files, verify typescript types

fix: resolve TypeScript errors
  apps/backend/src/api-lib/ajv-plugins.ts
  apps/backend/src/test-utils/global-setup.ts
Due: lint and format files, verify typescript types

chore: update root config and dependencies
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: lint and format files

chore: update backend-errors package
  packages/backend-errors/biome.json
  packages/backend-errors/package.json
  packages/backend-errors/src/index.ts
  packages/backend-errors/src/lib.ts
  packages/backend-errors/tsdown.config.ts
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

chore: update backend-client package
  packages/backend-client/openapi-ts.config.ts
  packages/backend-client/package.json
  packages/backend-client/src/generated/client.gen.ts
  packages/backend-client/src/generated/client/client.gen.ts
  packages/backend-client/src/generated/client/index.ts
  packages/backend-client/src/generated/client/types.gen.ts
  packages/backend-client/src/generated/client/utils.gen.ts
  packages/backend-client/src/generated/core/auth.gen.ts
  packages/backend-client/src/generated/core/bodySerializer.gen.ts
  packages/backend-client/src/generated/core/params.gen.ts
  packages/backend-client/src/generated/core/pathSerializer.gen.ts
  packages/backend-client/src/generated/core/queryKeySerializer.gen.ts
  packages/backend-client/src/generated/core/serverSentEvents.gen.ts
  packages/backend-client/src/generated/core/types.gen.ts
  packages/backend-client/src/generated/core/utils.gen.ts
  packages/backend-client/src/generated/index.ts
  packages/backend-client/src/generated/sdk.gen.ts
  packages/backend-client/src/generated/types.gen.ts
  packages/backend-client/src/index.ts
  packages/backend-client/src/sdk.gen.ts
  packages/backend-client/tsconfig.json
  packages/backend-client/tsdown.config.ts
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

chore: update backend app
  apps/backend/biome.json
  apps/backend/scripts/generate-client-yaml.ts
  apps/backend/src/api-lib/context.ts
  apps/backend/src/api-lib/error-handler.ts
  apps/backend/src/api-lib/types/enums.type.ts
  apps/backend/src/api-lib/types/index.ts
  apps/backend/src/api-lib/types/user-provider.type.ts
  apps/backend/src/api/index.ts
  apps/backend/src/api/users/__tests__/create-email-user.route.test.ts
  apps/backend/src/api/users/create-email-user.route.ts
  apps/backend/src/api/users/index.ts
  apps/backend/src/db/index.ts
  apps/backend/src/db/repositories/user-providers.repository.ts
  apps/backend/src/db/repositories/users.repository.ts
  apps/backend/src/plugins/context.plugin.ts
  apps/backend/src/server.ts
  apps/backend/src/services/base.service.ts
  apps/backend/src/services/users.service.ts
  apps/backend/src/test-utils/plugins/enable-test-logger.plugin.ts
  apps/backend/src/test-utils/plugins/index.ts
  apps/backend/src/test-utils/plugins/test-headers.plugin.ts
  apps/backend/src/test-utils/test-framework/index.ts
  apps/backend/src/types.ts
Due: lint and format files, verify typescript types

fix: use ajvPlugins array in generate-client-yaml script
  apps/backend/scripts/generate-client-yaml.ts
Due: lint and format files, verify typescript types

chore: update dependencies and regenerate openapi schema
  apps/backend/package.json
  packages/backend-client/openapi.yml
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, update lockfiles

chore: add dedicated turbo.json for each package and app
  apps/backend/turbo.json
  packages/backend-client/turbo.json
  packages/backend-errors/turbo.json
  packages/tsconfig/turbo.json
Due: lint and format files

chore: add task definitions to package turbo.json files
  apps/backend/turbo.json
  packages/backend-client/turbo.json
  packages/backend-errors/turbo.json
Due: lint and format files

chore: simplify root turbo.json to base task definitions
  turbo.json
Due: lint and format files

chore: rename typecheck to verify-types for consistency
  .github/workflows/lint.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  package.json
  packages/backend-client/package.json
  packages/backend-client/turbo.json
Due: lint and format files, check and format package.json files, update lockfiles

chore: add clean scripts for turbo, dist, and hash-runner
  package.json
Due: lint and format files

chore: add clean script that runs all clean commands
  package.json
Due: lint and format files

chore: update lefthook config and add lint:staged scripts
  lefthook.yml
  package.json
  packages/backend-errors/package.json
Due: lint and format files, check and format package.json files, update lockfiles

chore: update workflow pnpm and node versions
  .github/workflows/lint.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: update node baseline to 24
  .github/workflows/lint.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: lint and format files

chore: remove ts-node in favor of jiti
  apps/backend/package.json
  apps/backend/src/test-utils/ts-migration-transpiler.ts
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

chore: upgrade typebox from 0.34.48 to 1.0.80
  apps/backend/package.json
  apps/backend/src/api-lib/types/enums.type.ts
  apps/backend/src/api-lib/types/user-provider.type.ts
  apps/backend/src/api-lib/types/user.type.ts
  apps/backend/src/api/users/create-email-user.route.ts
  apps/backend/src/types.ts
  apps/backend/turbo/generators/templates/api-route/operation.hbs
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

chore: migrate hash-runner configs to v4 format
  packages/backend-client/.hash-runnerrc.json
  packages/backend-errors/.hash-runnerrc.json
Due: lint and format files

chore: generate files
  packages/backend-client/openapi.yml
Due: none

feat(bun): replace bcrypt with bcryptjs for Bun compatibility
  apps/backend/package.json
  apps/backend/src/services/users.service.ts
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

feat(bun): update scripts to use Bun for TypeScript execution
  apps/backend/package.json
Due: lint and format files, check and format package.json files, update lockfiles

chore: remove tsx dependency (replaced by Bun)
  apps/backend/package.json
  pnpm-lock.yaml
Due: lint and format files, check and format package.json files, update lockfiles

chore: update engine requirement to Bun
  package.json
Due: lint and format files

chore: remove bcrypt from onlyBuiltDependencies
  pnpm-workspace.yaml
Due: none

feat(bun): migrate from pnpm to Bun workspaces
  .npmrc
  bun.lock
  package.json
  packages/backend-client/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint and format files, check and format package.json files, update lockfiles

chore: remove package publishing capability
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  bun.lock
  package.json
Due: lint and format files

docs: update README for Bun migration
  README.md
Due: none

feat(backend): add Bun compile script with bytecode
  apps/backend/package.json
  apps/backend/src/index.ts
Due: lint and format files, check and format package.json files, verify typescript types, update lockfiles

docs: update README title to include Bun
  README.md
Due: none

docs: update changelog for Jan 31 2026 changes
  CHANGELOG.md
Due: none

docs: add AGENTS.md documentation files
  AGENTS.md
  apps/backend/AGENTS.md
Due: none
